.rmbt-leaking-or-damaged-roof-block-wrapper-section {
  position: relative;
}
.rmbt-leaking-or-damaged-roof-block-full-width {
  position: relative;

  min-height: 1500px;
  .adaptive-prop(padding-top, 200, 200);
  .adaptive-prop(padding-bottom, 200, 20);

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: -250px;
    bottom: 0;
    //  clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0% 100%);

    z-index: -1;
    .wrap-img {
      z-index: -1;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0px;
      bottom: 0;
    }

    &:before {
      background: rgba(2, 12, 32, 0.6);
    }
    &:after {
      background: rgb(0, 0, 0);
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
    }
  }
}
.rmbt-leaking-or-damaged-roof-block {
  // border: 10px solid #0515fd;

  &__title {
    width: 100%;
    text-align: center;
  }
  &__text {
    margin-bottom: 96px;
    .font-p {
    }
  }
}
