.wrapper-section-financing-block {
  position: relative;
  top: -753px;
  z-index: auto;

  * {
    box-sizing: border-box;
  }
}
.rmbt-financing-block-full-width {
  height: 1400px;

  .to(1580px,{
    height: 1570px;
  });

  .to(1024px,{
    .adaptive-prop(height, 1100, 1995);
  });

  .to(755px,{
    .adaptive-prop(height, 1570, 1995);
  });

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .wrap-img {
    width: 100%;
    height: 100%;
  }
}

.rmbt-financing-block {
  padding-top: 220px;
  &__row {
    .row-flex();
    row-gap: 100px;
    margin-left: -50px;
    margin-right: -50px;
  }
  &__col {
    .col();
    .size(12);

    h2 {
      text-align: center;
      margin: 0px 0px 50px 0px;
    }

    .button-wrap {
      margin-top: 80px;
      width: 100%;

      .rmbt-financing-block-button {
        width: 268px;
        height: 76px;
        line-height: 76px;
        background: none;
        color: #fff;
        border: 1px solid #fff;
        margin: 0 auto;
      }
    }
  }

  p {
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

.rmbt-financing-block-wrap-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  // row-gap: 24px;
  .adaptive-prop(row-gap, 24, 128);
}

.rmbt-financing-block-card {
  // width: 480px;
  // height: 354px;
  .adaptive-prop(width, 480, 310);
  .adaptive-prop(height, 354, 190);

  svg {
    // width: 128px;
    // height: 128px;

    .adaptive-prop(width, 128, 68);
    .adaptive-prop(height, 128, 68);

    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
  }

  h4 {
    font-size: 24px;
    .adaptive-prop(font-size, 24, 18);
    font-family: TrajanPro3Bold;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 45px;
    margin: 0px 0px 16px 0px;
  }

  &__body {
    width: 100%;
    height: 250px;
    position: relative;
    top: -24px;
    padding: 32px 24px 24px 24px;
  }

  &__subtitle {
    font-size: 20px;
    .adaptive-prop(font-size, 20, 16);
    color: #a41c35;
    font-weight: 500;
    font-family: 'Montserrat';
    text-transform: capitalize;
    text-align: center;
    width: 100%;
  }

  &__text {
    font-family: 'Montserrat';

    // font-size: 20px;
    .adaptive-prop(font-size, 20, 16);

    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    line-height: 160%;
    margin-bottom: 0px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    width: 100%;
  }
}
