@top-string-hight: 52px;

.rmbt-top-string-full-width {
  height: @top-string-hight;
  background-color: #a41c35;
}
.rmbt-container {
}
.rmbt-top-string {
  &__row {
    .row-flex();
  }
  &__col {
    .col();
    .size(12);
    h3 {
      margin: 0px 0px 0px 0px;

      font-size: 19.2px;
      font-family: 'trajan Pro 3';
      font-weight: 500;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: @top-string-hight;
    }
  }
}
