.new-roof-construction-block-wrapper-section {
  position: relative;
}
.rmbt-new-roof-construction-block-full-width {
  position: relative;
  .adaptive-prop(padding-bottom, 200, 20);

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: -250px;
    bottom: 0;
    clip-path: polygon(0 0, 100% 7.5%, 100% 100%, 0% 100%);

    z-index: -1;
    .wrap-img {
      border-radius: 0px 0px 100px 100px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0px 0px 100px 100px;

      background: rgb(0, 0, 0);
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
  }
}
.rmbt-new-roof-construction-block {
  .to(520px,{
   
   });

  &__title {
    width: 100%;
    text-align: center;
  }
  &__text {
    margin-bottom: 96px;
    .font-p {
    }
  }

  .tabs {
    &__nav {
      .to(480px,{
         flex-direction: column;
         align-items: center;
         row-gap: 20px;
      });
    }
    &__title {
    }
    &__title-active {
    }
    &__content {
    }
    &__body {
      min-height: 893px;
      padding: 40px 40px 40px 40px;
      position: relative;

      .wrap-img {
        height: 370px;
        border-radius: 32px;
      }

      .section-title {
        .adaptive-prop(font-size, 30, 20);
      }

      li {
        text-align: left;
      }
    }
    &__body-active {
    }
  }
}
.rmbt-new-roof-construction-tabs {
}
