.rmbt-our-services-full-width {
  position: relative;
  top: -85px;

  // border: 3px solid #fd9a05;

  &__bg {
    position: absolute;
    left: 0;
    // top: 467px;
    width: 100%;
    height: 100%;

    &:after {
      content: '';

      position: absolute;
      left: 0;
      bottom: -298px;
      // transform: translate(0,-50%);
      width: 100%;
      // height: 874px;
      height: 1382px;

      background-color: rgba(0, 0, 0, 0.55);
      clip-path: polygon(0 53.2%, 100% 35.5%, 100% 100%, 0% 100%);
    }

    .wrap-img {
      width: 100%;
      height: 1382px;

      // border: 5px solid #d0fd05;

      .to(1024px,{
    height: 2235px;

    // .adaptive-prop(height, 1750, 2239);
    
    });
    }
  }

  .bg-decoration {
    position: absolute;
    left: 0px;
    height: 738px;
    width: 100%;
    background-color: rgba(164, 28, 53, 1);
    border-radius: 64px 64px 0px 0px;
    clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);

    .to(1024px,{
    height: 1600px;
    clip-path: polygon(0 0, 100% 0, 100% 84.8%, 0% 100%);
    });
  }
}

.rmbt-our-services {
  height: 1086px;
  position: relative;
  top: -315px;

  .to(1024px,{
  // height: 2100px;
  height: 1950px;
  });

  &__row {
    .row-flex();
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    row-gap: 80px;

    .section-title {
      width: 100%;
      margin: 0 auto 5px auto;
      text-align: center;
      font-size: 60px;

      .adaptive-prop(font-size, 60, 48);
    }

    .rmbt-our-services-button-wrap {
      width: 100%;
    }
    .rmbt-our-services-button {
      position: relative;
      width: 476px;
      height: 76px;
      background: none;
      border: 1px solid #fff;
      line-height: 76px;
      margin: 0 auto;

      .to(600px,{
      
        .adaptive-prop(width, 476, 300);
      });
    }
  }
  &__col {
    .col();
  }
}
.rmbt-our-services-card {
  .adaptive-prop(width, 480, 130);

  .to(1024px,{
  min-width: 480px;
  });

  .to(600px,{
    min-width: auto;
// .adaptive-prop(width, 1500, 300);
.adaptive-prop(width, 1500, 300);
  });

  &__img {
    width: 100%;
    .adaptive-prop( height, 334, 200);
    border-radius: 16px;

    .to(1024px,{
    min-height: 334px;
  });

    .to(600px,{
    .adaptive-prop( height, 334, 200);
  });
  }
  &__text {
    text-align: center;
    .adaptive-prop(font-size, 24, 18);

    font-family: 'TrajanPro3SemiBold';
    font-weight: 600;
    color: #fff;
    margin: 0 auto;
    border-radius: 0 0 16px 16px;

    width: 60%;
    .adaptive-prop(height, 98, 48);
    .adaptive-prop(line-height, 98, 48);

    .to(1024px,{
    min-height: 98px;
    font-size: 24px;
    line-height:98px;
  });

    .to(600px,{
      min-height:auto;
    .adaptive-prop(height, 60, 48);
    .adaptive-prop(line-height, 98, 48);
    .adaptive-prop(font-size, 24, 18);
  });
  }
}
