.we-do-block-wrapper-section {
  position: relative;
}
.rmbt-we-do-block-full-width {
  position: relative;
  padding-top: 130px;
  height: 2210px;
  .to(1280px,{
    height: 3000px;
    });

  &__bg {
    position: absolute;
    left: 0;
    top: -150px;
    bottom: 0px;
    width: 100%;
    clip-path: polygon(0 0, 100% 6%, 100% 95%, 0% 100%);

    .to(1280px,{
      clip-path: polygon(0 0, 100% 4%, 100% 95%, 0% 100%);
    });

    .wrap-img {
      width: 100%;
      height: 100%;
    }
  }
}

.rmbt-we-do-block {
  .to(1024px,{
    position: relative;
    top: -140px;

  });

  &__row {
    .row-flex();
    row-gap: 84px;
    justify-content: center;
    margin-bottom: 214px;

    &:last-child {
      margin-bottom: 0px;
    }

    .to(1280px,{

      margin-bottom: 86px;

      .flex-order-body {
      order: 1;
      }
      .flex-order-img {
        order: 0;
      }
    });

    .to(430px,{
      margin-left: 0;
      });
  }
  &__article-body {
    .col();
    z-index: 1;
    .adaptive-prop(width, 740, 344);

    h2 {
      margin-top: 0px;
      text-align: left;
      .adaptive-prop(font-size, 40, 24);
    }
  }

  &__img {
    position: relative;
    box-sizing: border-box;
    // margin-bottom: 74px;
    .adaptive-prop(height, 478, 250);

    .to(430px,{
      margin-left: 0;
      });

    .col();
    .adaptive-prop(width, 740, 250);

    .wrap-img {
      border-radius: 3px;

      .adaptive-prop(width, 678, 250);
      .adaptive-prop(height, 478, 224);

      left: 32px;
      top: 32px;
    }
  }

  &__img-bg {
    position: absolute;
    border-radius: 36px;

    .adaptive-prop(width, 678, 250);
    .adaptive-prop(height, 478, 224);
  }

  .img-bg-red {
    left: 0;
    top: 0px;
  }

  .img-bg-blue {
    right: 0px;
    bottom: -64px;
    .adaptive-prop(right, 0, -60);
    .adaptive-prop(bottom, -64, -40);
  }

  &__article-text {
    text-align: left;
    letter-spacing: 0.35px;
  }
}
