.we-do-block-wrapper-section {
  position: relative;
  top: -592px;
  // clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 95%, 0% 100%);

  padding-top: 360px;
}
.rmbt-we-do-block-full-width {
  height: 2310px;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // z-index: -1;
    .wrap-img {
      width: 100%;
      height: 100%;
    }
  }
}

.rmbt-we-do-block {
  &__row {
    .row-flex();

    margin-bottom: 214px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__article-body {
    .col();
    .size(6);
    z-index: 1;

    h2 {
      margin-top: 0px;
      text-align: left;
    }
  }
  &__img {
    height: 478px;
    position: relative;
    box-sizing: border-box;

    .col();
    .size(6);

    .wrap-img {
      width: 678px;
      height: 478px;
      border-radius: 3px;

      left: 32px;
      top: 32px;
    }
  }
  &__img-bg {
    position: absolute;

    width: 668px;
    height: 470px;
    border-radius: 36px;
  }

  .img-bg-red {
    left: 0;
    top: 0px;
  }

  .img-bg-blue {
    right: 0px;
    bottom: -64px;
  }

  &__article-text {
    text-align: left;
    letter-spacing: 0.35px;
  }
}
